body {
	font-family: "Noto Sans CJK KR", sans-serif;
	background: #fff;
	color: #202020;
}

h1, h2, h3, h4, h5, h6, strong, th {
	color: #202020;
}


.editor-colors {
	font-family: 'Iosevka', sans-serif;
	font-size: .8rem;
}

code {
	color: #202020;
	background-color: #e1e2e3;
	padding: 0 5px;
}

blockquote {
	color: #81a1c1;
	border-left: 3px solid #81a1c1;
	padding-left: 20px;
}